In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
my_dataset= pd.read_csv('city_day.csv')

In [3]:
my_dataset=my_dataset.drop(['Date'],axis=1)

In [4]:
my_dataset=my_dataset.drop(['City'],axis=1)

In [5]:
my_dataset = my_dataset.dropna(thresh=7,axis=1)

In [6]:
my_dataset.head(n=10)

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
5,NaN,NaN,45.41,38.48,81.50,NaN,45.41,45.76,46.51,5.42,10.83,1.93,NaN,NaN
6,NaN,NaN,112.16,40.62,130.77,NaN,112.16,32.28,33.47,0.00,0.00,0.00,NaN,NaN
7,NaN,NaN,80.87,36.74,96.75,NaN,80.87,38.54,31.89,0.00,0.00,0.00,NaN,NaN
8,NaN,NaN,29.16,31.00,48.00,NaN,29.16,58.68,25.75,0.00,0.00,0.00,NaN,NaN
9,NaN,NaN,NaN,7.04,0.00,NaN,NaN,8.29,4.55,0.00,0.00,0.00,NaN,NaN

In [7]:
my_dataset = my_dataset[my_dataset['AQI'].notna()]

In [8]:
my_dataset.head(n=10)

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
28,83.13,NaN,6.93,28.71,33.72,NaN,6.93,49.52,59.76,0.02,0.00,3.14,209.0,Poor
29,79.84,NaN,13.85,28.68,41.08,NaN,13.85,48.49,97.07,0.04,0.00,4.81,328.0,Very Poor
30,94.52,NaN,24.39,32.66,52.61,NaN,24.39,67.39,111.33,0.24,0.01,7.67,514.0,Severe
31,135.99,NaN,43.48,42.08,84.57,NaN,43.48,75.23,102.70,0.40,0.04,25.87,782.0,Severe
32,178.33,NaN,54.56,35.31,72.80,NaN,54.56,55.04,107.38,0.46,0.06,35.61,914.0,Severe
33,139.70,NaN,30.61,28.40,56.73,NaN,30.61,33.79,73.60,0.17,0.03,11.87,660.0,Severe
34,80.65,NaN,2.37,22.83,24.00,NaN,2.37,25.73,47.30,0.00,0.00,0.00,294.0,Poor
35,58.36,NaN,2.60,21.39,23.31,NaN,2.60,32.66,53.54,0.00,0.00,0.00,149.0,Moderate
36,79.29,NaN,1.16,26.94,26.83,NaN,1.16,67.41,59.30,0.00,0.00,0.00,190.0,Moderate
37,88.70,NaN,7.29,31.32,37.73,NaN,7.29,80.09,44.76,0.00,0.00,0.00,247.0,Poor

In [9]:
my_dataset.head(n=40)

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
28,83.13,NaN,6.93,28.71,33.72,NaN,6.93,49.52,59.76,0.02,0.00,3.14,209.0,Poor
29,79.84,NaN,13.85,28.68,41.08,NaN,13.85,48.49,97.07,0.04,0.00,4.81,328.0,Very Poor
30,94.52,NaN,24.39,32.66,52.61,NaN,24.39,67.39,111.33,0.24,0.01,7.67,514.0,Severe
31,135.99,NaN,43.48,42.08,84.57,NaN,43.48,75.23,102.70,0.40,0.04,25.87,782.0,Severe
32,178.33,NaN,54.56,35.31,72.80,NaN,54.56,55.04,107.38,0.46,0.06,35.61,914.0,Severe
33,139.70,NaN,30.61,28.40,56.73,NaN,30.61,33.79,73.60,0.17,0.03,11.87,660.0,Severe
34,80.65,NaN,2.37,22.83,24.00,NaN,2.37,25.73,47.30,0.00,0.00,0.00,294.0,Poor
35,58.36,NaN,2.60,21.39,23.31,NaN,2.60,32.66,53.54,0.00,0.00,0.00,149.0,Moderate
36,79.29,NaN,1.16,26.94,26.83,NaN,1.16,67.41,59.30,0.00,0.00,0.00,190.0,Moderate
37,88.70,NaN,7.29,31.32,37.73,NaN,7.29,80.09,44.76,0.00,0.00,0.00,247.0,Poor
38,74.28,NaN,8.92,27.30,33.42,NaN,8.92,54.28,47.42,0.00,0.00,0.27,379.0,Very Poor
39,113.93,NaN,4.32,24.27,26.86,NaN,4.32,48.73,39.94,0.02,0.00,3.55,341.0,Very Poor
40,105.39,NaN,1.41,18.21,18.75,NaN,1.41,35.91,56.15,0.00,0.00,3.31,256.0,Poor
41,66.52,NaN,6.34,23.80,28.24,NaN,6.34,66.58,53.14,9.70,9.63,16.49,388.0,Very Poor
42,65.04,NaN,14.19,30.10,44.21,NaN,14.19,65.91,31.88,7.72,17.46,2.51,288.0,Poor
43,103.36,NaN,18.18,39.56,57.33,NaN,18.18,80.43,40.11,11.29,24.35,3.35,510.0,Severe
44,177.33,NaN,37.49,47.58,77.85,NaN,37.49,99.72,36.47,17.00,52.66,6.98,761.0,Severe
45,113.25,NaN,15.55,30.50,44.87,NaN,15.55,69.71,33.78,10.47,28.53,3.22,475.0,Severe
46,99.70,NaN,19.85,28.10,47.31,NaN,19.85,73.23,30.57,10.28,31.25,4.00,536.0,Severe
47,80.61,NaN,15.96,21.04,35.67,NaN,15.96,54.70,36.20,8.14,18.75,2.52,479.0,Severe
48,100.79,NaN,16.24,25.93,41.91,NaN,16.24,43.11,37.43,10.00,32.41,4.04,592.0,Severe
49,107.99,NaN,11.25,30.09,40.47,NaN,11.25,84.86,31.94,9.20,24.03,3.25,427.0,Severe
50,140.29,NaN,33.84,36.14,68.85,NaN,33.84,101.53,40.98,20.12,43.51,7.48,588.0,Severe
51,239.96,NaN,61.95,46.25,106.92,NaN,61.95,84.87,33.55,22.14,53.98,15.44,1141.0,Severe
52,142.96,NaN,45.45,48.21,92.32,NaN,45.45,62.96,34.77,7.35,22.40,8.47,669.0,Severe
53,238.41,NaN,77.70,55.07,131.32,NaN,77.70,89.07,37.30,50.61,163.64,28.46,1247.0,Severe
54,118.72,NaN,12.56,32.01,42.56,NaN,12.56,61.54,38.80,16.89,46.52,6.05,411.0,Severe
55,52.99,NaN,2.23,10.45,10.39,NaN,2.23,32.76,67.25,3.85,11.39,0.81,292.0,Poor
60,60.78,NaN,9.07,18.21,27.34,NaN,9.07,29.48,34.75,2.05,0.55,0.22,189.0,Moderate
61,91.83,NaN,12.99,28.71,40.76,NaN,12.99,39.71,38.46,2.69,1.74,2.25,408.0,Severe
62,93.88,NaN,18.21,29.38,47.01,NaN,18.21,62.75,46.79,5.21,2.55,1.55,383.0,Very Poor
63,173.01,NaN,48.44,42.27,90.73,NaN,48.44,78.76,59.39,9.72,9.96,4.13,780.0,Severe
66,71.56,NaN,3.51,16.83,20.32,NaN,3.51,30.28,57.16,3.95,8.01,0.63,190.0,Moderate
67,119.80,NaN,4.13,24.07,27.90,NaN,4.13,50.35,50.49,4.85,12.15,1.35,233.0,Poor
68,106.71,NaN,5.39,25.59,30.51,NaN,5.39,38.85,60.17,5.58,14.17,1.74,297.0,Poor
69,118.49,NaN,4.11,28.94,31.83,NaN,4.11,54.20,53.61,7.90,21.32,2.78,330.0,Very Poor
70,106.01,NaN,4.28,27.31,30.54,NaN,4.28,70.29,40.91,9.45,15.54,1.71,252.0,Poor
71,97.34,NaN,3.67,21.58,24.62,NaN,3.67,64.39,45.69,5.61,15.02,2.25,244.0,Poor
72,83.92,NaN,6.42,25.03,30.80,NaN,6.42,67.53,34.94,8.24,21.47,3.09,234.0,Poor
73,49.51,NaN,3.10,14.16,16.15,NaN,3.10,48.33,37.95,4.34,11.34,1.09,219.0,Poor

In [10]:
my_dataset.columns

Index(['PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2', 'O3',
       'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [11]:
X = my_dataset.iloc[:, :-2].values

In [12]:
Y = my_dataset.iloc[:, -2].values

In [13]:
#print(X)

In [14]:
#print(Y)

In [15]:
my_dataset.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,24172.000000,17764.000000,24463.000000,24459.000000,22993.000000,18314.000000,24405.000000,24245.000000,24043.000000,21315.000000,19024.000000,9478.000000,24850.000000
mean,67.476613,118.454435,17.622421,28.978391,32.289012,23.848366,2.345267,14.362933,34.912885,3.458668,9.525714,3.588683,166.463581
std,63.075398,89.487976,22.421138,24.627054,30.712855,25.875981,7.075208,17.428693,21.724525,16.036020,20.881085,6.754324,140.696585
min,0.040000,0.030000,0.030000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,13.000000
25%,29.000000,56.777500,5.660000,11.940000,13.110000,8.960000,0.590000,5.730000,19.250000,0.230000,1.027500,0.390000,81.000000
50%,48.785000,96.180000,9.910000,22.100000,23.680000,16.310000,0.930000,9.220000,31.250000,1.290000,3.575000,1.420000,118.000000
75%,80.925000,150.182500,20.030000,38.240000,40.170000,30.360000,1.480000,15.140000,46.080000,3.340000,10.180000,4.120000,208.000000
max,914.940000,917.080000,390.680000,362.210000,378.240000,352.890000,175.810000,186.080000,257.730000,455.030000,454.850000,170.370000,2049.000000

In [16]:
my_dataset.fillna(my_dataset.mean(), inplace=True)

In [17]:
my_dataset.head(n=10)

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
28,83.13,118.454435,6.93,28.71,33.72,23.848366,6.93,49.52,59.76,0.02,0.00,3.14,209.0,Poor
29,79.84,118.454435,13.85,28.68,41.08,23.848366,13.85,48.49,97.07,0.04,0.00,4.81,328.0,Very Poor
30,94.52,118.454435,24.39,32.66,52.61,23.848366,24.39,67.39,111.33,0.24,0.01,7.67,514.0,Severe
31,135.99,118.454435,43.48,42.08,84.57,23.848366,43.48,75.23,102.70,0.40,0.04,25.87,782.0,Severe
32,178.33,118.454435,54.56,35.31,72.80,23.848366,54.56,55.04,107.38,0.46,0.06,35.61,914.0,Severe
33,139.70,118.454435,30.61,28.40,56.73,23.848366,30.61,33.79,73.60,0.17,0.03,11.87,660.0,Severe
34,80.65,118.454435,2.37,22.83,24.00,23.848366,2.37,25.73,47.30,0.00,0.00,0.00,294.0,Poor
35,58.36,118.454435,2.60,21.39,23.31,23.848366,2.60,32.66,53.54,0.00,0.00,0.00,149.0,Moderate
36,79.29,118.454435,1.16,26.94,26.83,23.848366,1.16,67.41,59.30,0.00,0.00,0.00,190.0,Moderate
37,88.70,118.454435,7.29,31.32,37.73,23.848366,7.29,80.09,44.76,0.00,0.00,0.00,247.0,Poor

In [18]:
my_dataset.to_csv('city_day_cleaned.csv', index=False)

## Loading Pre-processed Data and Splitting

In [19]:
my_dataset = pd.read_csv('city_day_cleaned.csv')

In [20]:
X = my_dataset.iloc[:, :-2].astype(float).values
Y = my_dataset.iloc[:, -2].astype(int).values

In [21]:
X.shape, Y.shape, Y[:10]

((24850, 12),
 (24850,),
 array([209, 328, 514, 782, 914, 660, 294, 149, 190, 247]))

In [22]:
u=np.mean(X,axis=0)
std=np.std(X,axis=0) 
print(u.shape,std.shape)

(12,) (12,)

In [23]:
x=(X-u)/std

In [24]:
pd.DataFrame(x[:5,:]).head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.251631,0.0,-0.480657,-0.010985,0.048438,0.0,0.653894,2.042250,1.162796,-0.231539,-0.521397,-0.107569
1,0.198744,0.0,-0.169582,-0.012213,0.297572,0.0,1.640854,1.982418,2.908831,-0.230192,-0.521397,0.292802
2,0.434727,0.0,0.304224,0.150688,0.687859,0.0,3.144114,3.080306,3.576171,-0.216726,-0.520849,0.978467
3,1.101365,0.0,1.162378,0.536247,1.769695,0.0,5.866812,3.535726,3.172304,-0.205952,-0.519207,5.341789
4,1.781988,0.0,1.660458,0.259152,1.371284,0.0,7.447089,2.362903,3.391319,-0.201912,-0.518112,7.676886

In [25]:
# plt.style.use('seaborn')

# import matplotlib.pyplot as plt
# plt.scatter(X[:,4],Y)
# plt.scatter(x[:,4],Y)

In [26]:
split = 0.2
split = int(x.shape[0]*split)
x_train, x_test, y_train, y_test = x[split:], x[:split], Y[split:], Y[:split]

In [27]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((19880, 12), (4970, 12), (19880,), (4970,))